<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.promptnet.mobiledev.mapkit"
    android:versionCode="1"
    android:versionName="1.0" >
    
     <!-- permissions -->
  
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.promptnet.mobiledev.mapkit.Splasher"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.promptnet.mobiledev.mapkit.DashboardActivity">
        	<intent-filter>
                <action android:name="com.promptnet.mobiledev.mapkit.DashboardActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        
        <activity android:name="com.promptnet.mobiledev.mapkit.MapKITMainActivity">
        	<intent-filter>
                <action android:name="com.promptnet.mobiledev.mapkit.MapKITMainActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        
    </application>

</manifest>
